<div class="container">
    <div class="card">
        <div class="card-header">
            Expenses Details :
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Category :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.categoryName}}
                    </span>
                </div>
                <div class="col-md-6">
                    <strong>
                        Amount :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.amount}}
                    </span>
                </div>
                <div class="col-md-6">
                    <strong>
                        Expense Date :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.expensesDate | date: 'dd-MM-yyyy' }}
                    </span>
                </div>
                <div class="col-md-6">
                    <strong>
                        Payment Mode :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.paymentMode1}}
                    </span>
                </div>

                <div class="col-md-6">
                    <strong>
                        Payment Date :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.paymentDate | date: 'dd-MM-yyyy' }}
                    </span>
                </div>

                <div class="col-md-6">
                    <strong>
                        Comments :
                    </strong>
                </div>
                <div class="col-md-6">
                    <span>
                        {{data?.comments}}
                    </span>
                </div>


                <div class="col-md-6" *ngIf = "files.length > 0">
                    <strong>
                        Transaction Picture :
                    </strong>
                </div>
                <div class="col-md-6" *ngIf = "files.length > 0">
                    <span style="color: slateblue;"> Click to download files</span>
                    
                </div>
                
                <div class="offset-md-4 col-md-3" *ngIf = "files.length == 0">
                    <strong>
                        <span style="color: red;"> *No files attached</span>
                    </strong>
                </div>

            </div>
            <!-- <div class="col-md-6"> -->
                <div class="col-md-6">
                    <p class="downloadFiles" *ngFor = "let file of files">
                        <button mat-icon-button color="accent" (click) = "downloadFile(file)">
                            <mat-icon>cloud_download</mat-icon>
                        
                        {{file.actualFileName}}
                    </button>
                    </p>
                </div>
                
            <!-- </div> -->
        </div>
        <button mat-raised-button color="primary" (click)="close()">
            Close
          </button>
    </div>
</div>