<form [formGroup] = "form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group required">
                <label class="control-label" for="ddlCategoryName">Category Name</label>
                <select name="ddlCategoryName" class="form-control" id="ddlCategoryName"
                    aria-describedby="categoryName" formControlName="category" required>
                    <option  [value]="">--Select--</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
                </select>
                <span class="inputRequired mt-1" *ngIf="(form.controls['category'].dirty || form.controls['category'].touched ) && form.controls['category'].errors?.required">
                    Please select category
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group required">
                <label class="control-label" for="expensesAmount">Amount</label>
                <input type="number" class="form-control" id="expensesAmount" aria-describedby="expensesAmount"
                    placeholder="Enter amount" formControlName="amount">
                    <span class="inputRequired mt-1" *ngIf="(form.controls['amount'].dirty || form.controls['amount'].touched ) && form.controls['amount'].errors?.required">
                        Please enter Amount
                    </span>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="form-group required">
                <label class="control-label" for="expensesDate">Expense Date</label>
                <input onmouseover="" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" name="Date of Birth" placeholder="Expenses date" formControlName="expensesDate">

                <span class="inputRequired mt-1" *ngIf="(form.controls['expensesDate'].dirty || form.controls['expensesDate'].touched ) && form.controls['expensesDate'].errors?.required">
                    Please enter Expense Date
                </span>

            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group required">
                <label class="control-label" for="expensesAmount">Payment Mode</label>
                <select name="ddlPaymentMode" class="form-control" id="ddlPaymentMode"
                    aria-describedby="PaymentMode" formControlName="paymentMode">
                    <option  [value]="">--Select--</option>
                    <option *ngFor="let mode of paymentModes" [value]="mode.id">{{mode.paymentMode1}}</option>
                </select>

                
                <span class="inputRequired mt-1" *ngIf="(form.controls['paymentMode'].dirty || form.controls['paymentMode'].touched ) && form.controls['paymentMode'].errors?.required">
                    Please select Payment Mode
                </span>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group required">
                <label class="control-label" for="expensesAmount">Payment Date</label>
                <input formControlName="paymentDate" onmouseover="" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" name="Date of Birth" placeholder="Payment Date">
                <span class="inputRequired mt-1" *ngIf="(form.controls['paymentDate'].dirty || form.controls['paymentDate'].touched ) && form.controls['paymentDate'].errors?.required">
                    Please select Payment Date
                </span>

            </div>
        </div>
    </div>
    <div class="form-group required mt-4" >
        <label class="control-label" for="comments">Comments</label>
        <textarea class="form-control" id="comments" rows="3" formControlName="comments"></textarea>
        <span class="inputRequired mt-1" *ngIf="(form.controls['comments'].dirty || form.controls['comments'].touched ) && form.controls['comments'].errors?.required">
            Please enter comments
        </span>
    </div>

    <div class="form-group mt-4">
        <label >Upload Files: </label>
        <button type="button" mat-raised-button color="warn" (click)="upload()">Upload</button>
        <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Please Upload Documents here!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>

    <div class="row mt-2">
        <div class="example-button-row">
            <button type="submit" mat-raised-button color="primary" [disabled] = "this.form.invalid" (click) = "saveExpenses()">Save</button>
            <button type="button" mat-raised-button color="accent" (click)="close()">Close</button>

        </div>
    </div>
</form>