<form [formGroup] = "form">
    <div class="form-group required">
        <label class="control-label" for="reasonForDelete">Reason for deleting</label>
        <textarea class="form-control" id="reasonForDelete" rows="3" formControlName="reasonForDeleting"></textarea>
        <span class="inputRequired mt-1" *ngIf="(form.controls['reasonForDeleting'].dirty || form.controls['reasonForDeleting'].touched ) && form.controls['reasonForDeleting'].errors?.required">
            Please select reason
        </span>
    </div>
    
    <div class="row mt-2">
        <div class="col-md-3">
            <button type="submit" class="btn btn-danger" [disabled] ="this.form.invalid" (click) = "deleteExpense()">Delete</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-secondary" (click) ="close()">Close</button>
        </div>
    </div>
</form>